<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ninavs;AccountKey=z7agxoURLxjP+KR5PahFEa97jcak6RvKJt64NgzzVsJAa7WpKptOry0HgVZ/F579o3lOTHgH3VBvgHUChDAW4g==" />
    <!--<add key="StorageConnectionString" value="UseDevelopmentStorage=true;"/>-->
  </appSettings>
</configuration>