<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ser910;AccountKey=jiMEyTMyJX9sIJpOofNKEr5x7P0FfXtHwL3ASmPi5xKqAGv0LWbz18zJ5sgQdbCMJVzE2D/fiK/ZsOODHLiUWQ==" />
  </appSettings>
</configuration>